<div class="mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search all fields..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange($event)"
  />
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">
        First Name
        <span (click)="onSortChange('firstName')" class="sort-icon">
          <svg
            *ngIf="sortState.column === 'firstName'"
            cIcon
            [name]="
              sortState.direction === 'asc'
                ? 'cil-arrow-top'
                : 'cil-arrow-bottom'
            "
          ></svg>
          <svg
            *ngIf="sortState.column !== 'firstName'"
            cIcon
            name="cil-sort"
          ></svg>
        </span>
      </th>
      <th scope="col">
        Last Name
        <span (click)="onSortChange('lastName')" class="sort-icon">
          <svg
            *ngIf="sortState.column === 'lastName'"
            cIcon
            [name]="
              sortState.direction === 'asc'
                ? 'cil-arrow-top'
                : 'cil-arrow-bottom'
            "
          ></svg>
          <svg
            *ngIf="sortState.column !== 'lastName'"
            cIcon
            name="cil-sort"
          ></svg>
        </span>
      </th>
      <th scope="col">
        Mobile
        <span (click)="onSortChange('mobile')" class="sort-icon">
          <svg
            *ngIf="sortState.column === 'mobile'"
            cIcon
            [name]="
              sortState.direction === 'asc'
                ? 'cil-arrow-top'
                : 'cil-arrow-bottom'
            "
          ></svg>
          <svg
            *ngIf="sortState.column !== 'mobile'"
            cIcon
            name="cil-sort"
          ></svg>
        </span>
      </th>
      <th scope="col">
        Email
        <span (click)="onSortChange('email')" class="sort-icon">
          <svg
            *ngIf="sortState.column === 'email'"
            cIcon
            [name]="
              sortState.direction === 'asc'
                ? 'cil-arrow-top'
                : 'cil-arrow-bottom'
            "
          ></svg>
          <svg *ngIf="sortState.column !== 'email'" cIcon name="cil-sort"></svg>
        </span>
      </th>
      <th scope="col">
        NIC
        <span (click)="onSortChange('nic')" class="sort-icon">
          <svg
            *ngIf="sortState.column === 'nic'"
            cIcon
            [name]="
              sortState.direction === 'asc'
                ? 'cil-arrow-top'
                : 'cil-arrow-bottom'
            "
          ></svg>
          <svg *ngIf="sortState.column !== 'nic'" cIcon name="cil-sort"></svg>
        </span>
      </th>
      <th scope="col">
        Date of Birth
        <span (click)="onSortChange('dateOfBirth')" class="sort-icon">
          <svg
            *ngIf="sortState.column === 'dateOfBirth'"
            cIcon
            [name]="
              sortState.direction === 'asc'
                ? 'cil-arrow-top'
                : 'cil-arrow-bottom'
            "
          ></svg>
          <svg
            *ngIf="sortState.column !== 'dateOfBirth'"
            cIcon
            name="cil-sort"
          ></svg>
        </span>
      </th>
      <th scope="col">
        Address
        <span (click)="onSortChange('address')" class="sort-icon">
          <svg
            *ngIf="sortState.column === 'address'"
            cIcon
            [name]="
              sortState.direction === 'asc'
                ? 'cil-arrow-top'
                : 'cil-arrow-bottom'
            "
          ></svg>
          <svg
            *ngIf="sortState.column !== 'address'"
            cIcon
            name="cil-sort"
          ></svg>
        </span>
      </th>
      <th scope="col">Profile Image</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let student of displayedStudents; let i = index"
      (click)="onView(student)"
    >
      <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.mobile }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.nic }}</td>
      <td>{{ student.dateOfBirth | date }}</td>
      <td>{{ student.address }}</td>
      <td>
        <img
          [src]="student.profileImageUrl"
          alt="{{ student.firstName }}"
          width="50"
        />
      </td>
      <td>
        <button
          color="secondary"
          cButton
          variant="outline"
          class="pr-1 margin-right"
          (click)="onEdit(student); $event.stopPropagation()"
        >
          <svg cIcon class="me-1" name="cil-pen"></svg>
        </button>

        <button
          color="danger"
          cButton
          variant="outline"
          (click)="onDeleteStudent(student.id); $event.stopPropagation()"
        >
          <svg cIcon class="me-1" name="cil-trash"></svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<c-pagination aria-label="Page navigation example">
  <li cPageItem>
    <a
      cPageLink
      aria-label="Previous"
      (click)="changePage(currentPage - 1)"
      [class.disabled]="currentPage === 1"
    >
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li
    cPageItem
    *ngFor="let page of [].constructor(totalPages); let pageIndex = index"
  >
    <a cPageLink (click)="changePage(pageIndex + 1)">{{ pageIndex + 1 }}</a>
  </li>
  <li cPageItem>
    <a
      cPageLink
      aria-label="Next"
      (click)="changePage(currentPage + 1)"
      [class.disabled]="currentPage === totalPages"
    >
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</c-pagination>
